html { 
  box-sizing: border-box;
  font-size: 6px;

  @media only screen and (min-width: $screen_sm_min) {
    font-size: 7px;
  }

  @media only screen and (min-width: $screen_lg_min) {
    font-size: 9px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body { 
  background-color: white;
  color: black;
  font-family: Arial;
  font-size: 1.75rem;
  line-height: 2rem;
}

h1 { 
  font-size: 3rem;
  line-height: 3.5rem;
}

button,
label,
input[type=checkbox],
input[type=text] {
  display: inline-block;
  font-size: 2.5rem;
  line-height: 5rem;
}

input[type=text] {
  border: 1px solid $medium_gray;
}

button {
  display: inline-block;
  border: 1px solid $medium_gray;
  padding: 0 1.5rem 0 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

  &:active {
    background-color: $light_gray;
    color: white;
  }
}