.todo-list-container {
  margin: 0 auto;

  @media only screen and (min-width: $screen_md_min) {
    width: 80%;
  }
}

.todo-list__header {
  border-bottom: 1px solid $medium_gray;
  margin-bottom: 1.5rem;
  padding-bottom: 0.75rem;
}

.todo-list-col-left,
.todo-list-col-right {
  vertical-align: top;
}

.todo-list-col-left {
  display: inline-block;
  text-align: left;
  width: 50%;

  @media only screen and (min-width: $screen_sm_min) {
    width: 75%
  }
}

.todo-list-col-right {
  display: inline-block;
  text-align: right;
  width: 50%;

  @media only screen and (min-width: $screen_sm_min) {
    width: 25%;
  }
}

.todo-list__add-item,
.todo-list__item {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.todo-list__add-item__input {
  padding: 0 1rem 0 1rem;
  width: calc(100% - 2px);
}

.todo-list__add-item__action,
.todo-item__action {
  min-width: 10rem;
}

.todo-list__item {
  border-bottom: 1px dotted $medium_gray;
  display: block;

  &:last-child {
    border-bottom: 0 none;
  }
}

.todo-item__done {
  margin: 1.5rem 1rem 0 0;
  vertical-align: top;
  width: 2rem;
}

.todo-item__label {
  width: calc(100% - 3rem);
}

.todo-item__action--last {
  @extend .todo-item__action;
  margin-left: 2.5rem;
}